<nav class="nav-main" id="nav-main" aria-label="menu Particuliers">
    <div class="container">
        <ul class="nav-main-first nav-main-desktop">
            <li class="active panel"><a class="nav-main-item nav-main-home"
                                        href="http://numismate.recontact.me">Home</a></li>
            <!--<span class="icon icon-home" aria-hidden="true" title="Accueil - actif"></span><span class="blank">Accueil</span>-->
            <li class="panel"><a class="nav-main-item" href="http://numismate.recontact.me" aria-expanded="false"
                                 role="button">Allemagne</a></li>
            <li class="panel"><a class="nav-main-item" href="http://numismate.recontact.me" aria-expanded="false"
                                 role="button">Andorre</a></li>
            <li class="panel"><a class="nav-main-item" href="http://numismate.recontact.me" aria-expanded="false"
                                 role="button">Autriche</a></li>
            <li class="panel"><a class="nav-main-item" href="http://numismate.recontact.me" aria-expanded="false"
                                 role="button">Belgique</a></li>
            <li class="panel"><a class="nav-main-item" href="http://numismate.recontact.me" aria-expanded="false"
                                 role="button">Chypre</a></li>
            <li class="panel"><a class="nav-main-item" href="http://numismate.recontact.me" aria-expanded="false"
                                 role="button">Espagne</a></li>
            <li class="panel"><a class="nav-main-item" href="http://numismate.recontact.me" aria-expanded="false"
                                 role="button">Estonie</a></li>
            <li class="panel"><a class="nav-main-item" href="http://numismate.recontact.me" aria-expanded="false"
                                 role="button">Finlande</a></li>
            <li class="panel"><a class="nav-main-item" href="http://numismate.recontact.me" aria-expanded="false"
                                 role="button">France</a></li>
            <li class="panel"><a class="nav-main-item" href="http://numismate.recontact.me" aria-expanded="false"
                                 role="button">Grèce</a></li>
            <li class="panel"><a class="nav-main-item" href="http://numismate.recontact.me" aria-expanded="false"
                                 role="button">Irlande</a></li>
        </ul>
        <ul class="nav-main-first nav-main-desktop">
            <li class="panel"><a class="nav-main-item" href="http://numismate.recontact.me" aria-expanded="false"
                                 role="button">Italie</a></li>
            <li class="panel"><a class="nav-main-item" href="http://numismate.recontact.me" aria-expanded="false"
                                 role="button">Lettonie</a></li>
            <li class="panel"><a class="nav-main-item" href="http://numismate.recontact.me" aria-expanded="false"
                                 role="button">Lituanie</a></li>
            <li class="panel"><a class="nav-main-item" href="http://numismate.recontact.me" aria-expanded="false"
                                 role="button">Luxembourg</a></li>
            <li class="panel"><a class="nav-main-item" href="http://numismate.recontact.me" aria-expanded="false"
                                 role="button">Malte</a></li>
            <li class="panel"><a class="nav-main-item" href="http://numismate.recontact.me" aria-expanded="false"
                                 role="button">Monaco</a></li>
            <li class="panel"><a class="nav-main-item" href="http://numismate.recontact.me" aria-expanded="false"
                                 role="button">Pays-Bas</a></li>
            <li class="panel"><a class="nav-main-item" href="http://numismate.recontact.me" aria-expanded="false"
                                 role="button">Portugal</a></li>
            <li class="panel"><a class="nav-main-item" href="http://numismate.recontact.me" aria-expanded="false"
                                 role="button">Slovaquie</a></li>
            <li class="panel"><a class="nav-main-item" href="http://numismate.recontact.me" aria-expanded="false"
                                 role="button">Slovénie</a></li>
            <li class="panel"><a class="nav-main-item" href="http://numismate.recontact.me" aria-expanded="false"
                                 role="button">Saint-Marin</a></li>
            <li class="panel"><a class="nav-main-item" href="http://numismate.recontact.me" aria-expanded="false"
                                 role="button">Vatican</a></li>
        </ul>
    </div>
</nav>